body {  
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141E30;
}

.text{
    font-family: Roboto, sans-serif;
    font-size: 60px;
    font-weight: 100;
}

@media (max-width: 770px) {
    .text {
        font-family: Roboto, sans-serif;
        font-size: 40px;
        font-weight: 100;
    }
}

.image {
    width: 90px;
    padding-left: 30px;
}